// colors
$header: rgba(255, 255, 255,1);
$white: #fff;
$red: #EF6F6F;
$dimRed2: #fbd4d4;
$dimRed3: rgba(239, 111, 111, 0.50);
$borderRed: #F06F70;
$dimRed: rgba(240, 111, 112, 0.30);
$black: #000;
$red500: #ff0000;
$gray400: #D9D9D9;
$gray500: #455A64;
$gray600: #263238;
$gray700: #586E79;
$gray400: #E9E9E9;
$gray800: #29373E;
$dimGray: rgba(84, 84, 84, 0.07);
$dimWhite: rgba(222, 222, 222, 0.33);
$dimRed: rgba(69, 90, 100, 0.32);


// Font
$baseFont : 'Poppins';
